alabaster==0.7.13
anyascii==0.3.2
astroid==3.0.2
asttokens==2.4.1
attrs==23.1.0
Babel==2.14.0
-e git+https://github.com/butayama/bivarcontours.git@231832b99128c88a33e41f3c58932a5d86c2efa8#egg=bivarcontours
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
docutils==0.18.1
executing==2.0.1
fastjsonschema==2.19.1
fonttools==4.47.0
greenlet==3.0.3
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
ipykernel==6.28.0
ipython==8.19.0
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter-cache==1.0.0
jupyter_client==8.6.0
jupyter_core==5.5.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
myst-nb==1.0.0
myst-parser==2.0.0
nbclient==0.9.0
nbformat==5.9.2
nest-asyncio==1.5.8
numpy==1.26.2
packaging==23.2
Pallets-Sphinx-Themes==2.1.1
pandas==2.1.4
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
Pint==0.23
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.32.0
requests==2.31.0
rpds-py==0.16.2
seaborn==0.13.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-autoapi==3.0.0
sphinx-issues==3.0.1
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.4
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-log-cabinet==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.24
stack-data==0.6.3
tabulate==0.9.0
tornado==6.4
traitlets==5.14.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.12
zipp==3.17.0
